@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito';
  font-size: 14px;
  background-color: var(--background);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.gap-28 {
  gap: 28px;
}

.gap-12 {
  gap: 12px;
}

.gap-8 {
  gap: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.col-md-6 {
  width: 46%;

  @media (max-width: 1200px) {
    width: 100%;
  }
 
}

.col {
  width: 100%;
}

.page {
  max-width: 1600px;
  width: 100%;
  background-color: var(--background);
}

.list {
  display: flex;
  flex-direction: column;

  .item {
    padding: 8px 12px;
    cursor: pointer;
    transition: all linear 0.2s;

    &:hover {
      background-color: var(--background-hover);
    }
  }
}